@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --touch-target: 44px;
}

html, body, #root { height: 100%; }
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; }

.container-m { @apply mx-auto px-3; }